.titulo {
    text-align: center; 
}

table {
    margin: auto;
    border-collapse: collapse;
}
 
table tr th, table tr td {
    width: 75px;
    padding: 10px;
    text-align: left;
}

table tr:nth-child(2)  {
    background-color: rgb(224, 224, 224);
  }
